<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Filippo Ferrario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MySite.styles.css" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <div id="ldng_pop_up" class="pop-up">
        <div class="popup-content">
            <h1 id="pop_up_text" class="popup-txt"></h1>
            <div class="loader"></div>
        </div>
    </div>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Filippo Ferrario</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between hdr-pad">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CodingPage" onclick="start_loading('Getting random code from StackOverflow ')">CODING PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CookingPage" onclick="start_loading('Learning how to cook ')">COOKING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TravelPage" onclick="start_loading('Finding the way home ')">TRAVEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MindPage" onclick="start_loading('Loading Memories ')">IN MY MIND</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy" onclick="start_loading('Figuring out where did I put it ')">PRIVACY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted ftr-container">
        <div class="container ftr-front">
            <div class="flex-orz" style="justify-content: center;">
                <div>
                    &copy; 2022 - Filippo Ferrario - <a asp-area="" asp-page="/Privacy" class="link-light">Privacy</a>
                </div>
                <div class="flex-vrt">
                    <h6 class="centered">Contatti</h6>
                    <button id="emailBtn" class="centered eml-btn ftr-front"
                            onclick="copy_email()" onmouseover="reset_tooltip()"
                            data-placement="top" data-toggle="tooltip" title="Copy Email">
                        filippo.ferrario@issgreppi.it
                    </button>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>