@page
@model MySite.Pages.BibliographyPageModel
@{
    ViewData["Title"] = "Bibliography";
}

<div class="main-section">
    <p>
        Where did I take images and informations?
    </p><br />
    <ul>
        <li>
            <a class="link link-txt" href="https://commons.wikimedia.org/wiki/File:A_large_blank_world_map_with_oceans_marked_in_blue.PNG">
                Blank World Map
            </a>
            - Wikipedia (GNU License)
        </li>
    </ul>
</div>