@page
@model MySite.Pages.BibliographyPageModel
@{
    ViewData["Title"] = "Bibliography";
}

<div class="main-section">
    <p>
        Where did I take images and informations?
    </p><br />
    <ul>
        <li>
            <a class="link link-txt" href="https://www.openstreetmap.org">
                World Map
            </a>
            - Open Database
        </li>
    </ul>
</div>