@page
@model MySite.Pages.CodingTemplateModel
@{
    await Model.WaitData();
    var project = (MySite.Models.Project?)ViewData["Project"];
}

<div style="padding-top: 30px">
    <h1 style="text-align: center;">@project?.Name</h1>
</div>
<div class="main-section">
    <div>
        <div style="color: gray; font-style: italic; font-weight:200;">
            @project?.BeginDate- @project?.EndDate
        </div>
        <div style="background-color: #FF8000; color: white; padding: 5px;
                    justify-content: center;" class="main-container">
            <label>@project?.Language</label>
            <label>     -    </label>
            <label>@project?.ProjectType</label>
        </div>
    </div>
    <div>
        @Html.Raw(project?.Resume)
    </div>
    <img src="data:image/png;base64,@Convert.ToBase64String(
        @project != null && @project?.Image != null ? @project.Image : new byte[1])"
         class="main-pic"
         style="justify-content: center" />

    <div>
        @Html.Raw(@project?.Description)
    </div>
    <a class="link link-txt" herf=@project?.GitRef><em>GitHub Repository</em></a>
</div>