@page
@model MySite.Pages.CodingTemplateModel
@{
    var project = (MySite.Models.Project?)ViewData["Project"];
}

<div>
    <h1 style="text-align: center;">@project?.Name</h1>
</div>
<div class="main-section">
    <div>
        <div style="color: gray; font-style: italic; font-weight:200;">
            @project?.BeginDate- @project?.EndDate
        </div>
        <div style="background-color: #FF8000; color: white;" class="main-container">
            @project?.Language - @project?.ProjectType
        </div>
    </div>
    <div>
        @Html.Raw(project?.Resume)
    </div>
    <img src=@project?.Image/>

    <p>
        @Html.Raw(@project?.Description)
    </p><br /><br />
    <a class="link link-txt" herf=@project?.GitRef><em>GitHub Repository</em></a>
</div>