@page
@model MySite.Pages.CodingPageModel
@{
    ViewData["Title"] = "Coding";
}
<div>
    <p>Programming. Our entire life is influenced by <strong>algorithms</strong>. 
        Being them social media's, this site's back-end or your biological algorithms, they shape the way you think, the way you are.
        Some are useful, others useless. Some are affected by bugs, others implement them as features.
        Programming is an <strong>art</strong>, just like painting or singing. As an art, it let you express yourself, creating whatever you can imagine.
        As a musician writes an opera placing one note after the other, a programmer compose an algorithm by linking instructions.
    </p>
    <div>

    </div>
</div>