@page
@model MySite.Pages.CookingPageModel
@{
    ViewData["Title"] = "Cooking";
}

<div class="main-section">
    <p>I'm a programmer. This means I <strong><a class="link-txt link" style="text-decoration: none" asp-page="/Privacy">hate cookies</a></strong>
        well, others' cookies, but I love mine. 
        So, here's my <a class="link-txt link" href="~/cookies">cookie recipe</a>.
    </p>
    <div class="list-view">

    </div>
</div>