@page
@model MySite.Pages.CookingPageModel
@{
    ViewData["Title"] = "Cooking";
}

<div class="main-section">
    <p>I'm a programmer. This means I <strong><a class="link-txt link" style="text-decoration: none" asp-page="/Privacy">hate cookies</a></strong>
        well, others' cookies, but I love mine. <br />
        So, here's my <a class="link-txt link" href="/RecipeTemplate?recipe=cookie">cookie recipe</a>.
    </p><br/><br />

    <h4>Why cooking?</h4>
    <p>
        Well, in case you haven't noticed, I love <em style="color: #FF8000">algos</em>, and cooking <strong>is an algorithm</strong>.<br />
        You perform many tasks and then you eat their delicious result.
    </p><br /><br />
    <div class="list-view">

    </div>
</div>