@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="general-flexbox">
    <div class="left info-container centered">
        <div style="text-align: center;">
            <h1 class="name">Filippo</h1>
            <h1 class="name" style="padding-left: 50px">Ferrario</h1>
        </div>
        <div style="margin: 0; width:40%;">
            <!-- <img src="me.jpg" alt="A random guy found on the net" class="image"> -->
        </div>
    </div>
    <div class="right" style="padding: 20px">
        <h3>About me</h3>
        <label>I'm an Italian computer science student.</label> <br>
        <label>I'm attending the fourth year at
            <a href="https://www.istitutogreppi.edu.it/">IISS Alessandro Greppi High School</a>
            where I'm one of the student representatives.</label> <br><br>
        <label>
            In my free time I love to start (but not to finish) coding projects.
        </label><br>
        <label>
            I love running, that's good (for you) cause it drains all my energy,
            and so I can't destroy the whole world when my code doesn't
            work as it should.
        </label><br><br>
        <label>
            Here, you will find whatever passes through my mind,
            so be prepared to things you can't even image of!
        </label>
    </div>
</div>