@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <div>
        <div style="text-align: center;">
            <h1 class="name">Filippo</h1>
            <h1 class="name" style="padding-left: 50px">Ferrario</h1>
        </div>
        <div style="margin: 0; width:40%;">
            <!-- <img src="me.jpg" alt="A random guy found on the net" class="image"> -->
        </div>
    </div>
    <div style="padding: 20px">
        <h3>About me</h3>
        <p>
            I'm an Italian computer science student.<br />
            I'm attending the fourth year at <a href="https://www.istitutogreppi.edu.it/" class="link-txt link">
                IISS Alessandro Greppi High School
            </a> where I'm one of the student representatives. <br /><br />
            In my free time I love to start (but not to finish) coding projects.<br /><br />
            I love running, that's good (for you) cause it drains all my energy,
            and so I can't destroy the whole world when my code doesn't work as it should.<br /><br />
            Here you will find whatever passes through my mind,
            so be prepared to things you can't even image of!
        </p><br />
        <div>
            <h5 class="centred">Social</h5>
            <a class="link-txt link" href="https://github.com/ferrariofilippo">GitHub</a><br />
            <a class="link-txt link" href="https://instagram.com/_ferra04?igshid=YmMyMTA2MM2Y=">Instagram</a><br />
            <a class="link-txt link" href="https://www.linkedin.com/in/filippo-ferrario-aa3288200">Linkedin</a>
        </div>
    </div>
</div>