@page
@model MySite.Pages.MindTemplateModel
@{
    await Model.WaitData();
    var content = (MySite.Models.RandomPage?)ViewData["Content"];
}

<div>
    <h1 style="text-align: center;">@content?.Topic</h1>
</div>
<div class="main-section">
    <img src="data:image/png;data64,@Convert.ToBase64String(
        @content != null && @content.Image != null ? @content.Image : new byte[1])" />
    <p>
        @Html.Raw(@content?.Description);
    </p>
</div>