@page
@model MySite.Pages.MindTemplateModel
@{
    var content = (MySite.Models.RandomPage?)ViewData["Content"];
}

<div>
    <h1 style="text-align: center;">@content?.Topic</h1>
</div>
<div class="main-section">
    <img src=@content?.Image/>
    <p>
        @Html.Raw(@content?.Description);
    </p>
</div>