@page
@model MySite.Pages.MindPageModel
@{
    ViewData["Title"] = "In My Mind";
}

<div class="main-section">
    @*Navigare nel mio cervello? Quando si clicca su qualcosa schermata con "Caricamento Ricordi",
    animazione di un archivio che viene aperto nel cervello*@
    <p>
        Here we are! <strong>My mind</strong>, the source of all the knowledge in the world and of my modesty!<br />
        Jokes aside, all my ideas come from here, so this place is quite a mess.<br />
        Whatever has no dedicated section is packed in here.<br />
        Finding what you need would be the eighth of Ercules' fatigues, so I added this search bar to let you save your precious time!
    </p>
    <p><a href="https://docs.google.com/spreadsheets/d/1O40uMJS0dK2IlcCQtbO3c8NcMnMlSK0TjLBoljwehD4/edit?usp=sharing">Running</a></p>
    <div class="list-view">
    </div>
</div>