@page
@model MySite.Pages.MindPageModel
@{
    ViewData["Title"] = "In My Mind";
    var pgs = (MySite.Models.BriefMind[]?)ViewData["pages"];
    string GetPages()
    {
        if (pgs is null) return "";

        System.Text.StringBuilder sb = new System.Text.StringBuilder();

        foreach (var item in pgs)
        {
            sb.Append("<div class=\"elmnt\"><img class=\"pic\" "+ 
                $"src=\"data:image/png;base64,{Convert.ToBase64String(item.Image)}\"/>" +
                $"<label class=\"ttl\">{item.Topic}</label>" +
                $"<p class=\"dtl\">{item.Description}</p></div>");
        }

        return sb.ToString();
    }
}

<div class="main-section">
    @*Navigare nel mio cervello? Quando si clicca su qualcosa schermata con "Caricamento Ricordi",
    animazione di un archivio che viene aperto nel cervello*@
    <p>
        Here we are! <strong>My mind</strong>, the source of all the knowledge
        in the world and of my modesty!<br />
        Jokes aside, all my ideas come from here, so this place is quite a mess
        .<br />
        Whatever has no dedicated section is packed in here.<br />
        Finding what you need would be the eighth of Ercules' fatigues, so I 
        added this search bar to let you save your precious time!
    </p>
    <div class="list-view">
        @Html.Raw(@GetPages())
    </div>
</div>