@page
@model MySite.Pages.MindTemplateModel
@{
    await Model.WaitData();
    var content = (MySite.Models.RandomPage?)ViewData["Content"];
    if (content is not null)
        content.Description = content.Description.Replace('\r', '\0').Replace('\n', '\0');
}

<div>
    <h1 style="text-align: center;">@content?.Topic</h1>
</div>
<div class="main-section">
    <img src="data:image/png;data64,@Convert.ToBase64String(
        @content != null && @content.Image != null ? @content.Image : new byte[1])" />
    <div>
        @Html.Raw(@content?.Description)
    </div>
</div>