@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="main-section">
    <h1 style="color: #FF8F00;">@ViewData["Title"]</h1>
    <br />
    <p>
        This site <strong>does not use</strong> <em><a class="link link-txt" asp-page="/CookingPage">cookies</a></em> or any other kind of tracking element.<br /><br/>
        For the moment I do not run <strong>ads</strong>. This may change in the future.

        Some features of this app need <strong>JS</strong> in order to work properly.<br/><br/>

        <strong>All the code</strong> used by this site is available in the folder <em>'MyWebSite'</em> at <a class="link link-txt" href="https://github.com/ferrariofilippo">GitHub</a><br />
        If you find any bugs on the site or you want to give me some advice, you can write me an email (You can find my address in the footer).<br /><br /><br />


        <strong><a class="link link-txt" asp-page="/BibliographyPage">Bibliography</a></strong>
    </p>
</div>