@page
@model MySite.Pages.RecipeTemplateModel
@{
    await Model.WaitData();
    var recipe = (MySite.Models.Recipe?)ViewData["Recipe"];
    string GetIngredients()
    {
        MySite.Models.LinkRecIng[]? ingredients =
            (MySite.Models.LinkRecIng[]?)ViewData["Ingredients"];
        if (ingredients is null) return "";

        System.Text.StringBuilder sb = new System.Text.StringBuilder(@"<ul>");
        foreach (var item in ingredients)
        {
            sb.Append($"<li>{item.Ingredient.Name}\t" +
                $"{item.Quantity}{item.Ingredient.MeasureUnit}</li>");
        }
        sb.Append(@"</ul>");

        return sb.ToString();
    }
}
<h1>@recipe?.Name</h1>
<div class="main-section">
    <img src="data:image/png;base64,@Convert.ToBase64String(
        @recipe != null  && @recipe.Image != null ? @recipe.Image : new byte[1])" />

    @Html.Raw(GetIngredients())

    <br /><br />

    <p>
        @Html.Raw(@recipe?.Description)
    </p>
</div>