@page
@model MySite.Pages.TravelPageModel
@{
    ViewData["Title"] = "Travel";
}

<script src="~/js/mapscript.js" asp-append-version="true"></script>
<body onresize="">
    <div class="main-section">
        <p>
            Where am I? Where have I been?<br />
            This section is dedicated to my <strong>adventures</strong> around the globe.<br />
            On the map you can see which countries I visited and which not.<br />
            <strong>Click</strong> on a nation to learn more about my experience there.
        </p>
        <div id="world">
            <img src="Images/world.png" class="wrld" usemap="#countries" id="worldmap" alt="blank world map" onload="load_countries()"/>
            <map name="countries">
                <area shape="poly" alt="italy" href="https://en.wikipedia.org/wiki/Italy" coords="10,20,30,20,50,70" />
                <area shape="poly" alt="sardinia" href="https://en.wikipedia.org/wiki/Italy" onclick="alert('Sardegna')" coords="1946,618,1957,613,1966,615,1964,649,1946,649" />
                <area shape="poly" alt="san_marino" href="https://en.wikipedia.org/wiki/San_Marino" coords="1998,573,1999,576,2000,573" />
                @*<area shape="poly" alt="austria" href="https://en.wikipedia.org/wiki/Austria" coords=""/>*@
                @* <area shape="poly" alt="germany" href="germany" coords=""/>
                <area shape="poly" alt="france" href="france" coords=""/>
                <area shape="poly" alt="spain" href="spain" coords=""/>
                <area shape="poly" alt="switzerland" href="switzerland" coords=""/>*@
            </map>
        </div>
        @*Planisfero con colorate le nazioni in cui sono stato, counter nazioni visitate. Cliccando su una nazione viene mostrato (se disponibile) una pagina web legata alla mia esperienza*@
    </div>
</body>