@page
@model MySite.Pages.TravelPageModel
@{
    ViewData["Title"] = "Travel";
}

<script src="~/js/worldscript.js" asp-append-version="true"></script>
<body onload="fetch_visited()">
    <div class="main-section" id="map-container">
        <p>
            Where am I? Where have I been?<br />
            This section is dedicated to my <strong>adventures</strong>
            around the globe.<br />
            On the map you can see which countries I visited and
            which not.<br />
            <strong>Click</strong> on a nation to learn more about my
            experience there.
            <noscript>
                <strong><br /><br />(This function needs js to work)</strong>
            </noscript>
        </p>
        <div id="map"></div>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
        <script>
            function travelTo(e) {
                start_loading(`Travelling to ${e.target.name} `)
                location.href = `/TravelTemplate?country=${e.target.name.replace(' ', '_')}`;
            }
            function setCountryClicked(country, layer) {
                layer.on({
                    click: travelTo
                });
                layer.name = country.properties.admin;
            }

            var geoJSONPath = "/Data/worldgeo.json";
            var mapStyle = {
                stroke: true,
                color: 'white',
                fill: true,
                fillColor: '#ff8000',
                fillOpacity: 0.6
            };

            var map = L.map('map').setView([0, 0], 2);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 7,
                minZoom: 2,
                attribution: '© OpenStreetMap',
            }).addTo(map);

            $.getJSON(geoJSONPath, function(data) {

                L.geoJson(data, {
                    clickable: false,
                    style: mapStyle,
                    onEachFeature: setCountryClicked
                }).addTo(map);
            });
        </script>
    </div>
</body>