@page
@model MySite.Pages.TravelPageModel
@{
    ViewData["Title"] = "Travel";
}


<div class="main-section">
    <p>
        Where am I? Where have I been?<br />
        This section is dedicated to my <strong>adventures</strong> around the globe.<br />
        On the map you can see which countries I visited and which not.<br />
        <strong>Click</strong> on a nation to learn more about my expeirence.
    </p>
    <div>
        Mappa
    </div>
    @*Planisfero con colorate le nazioni in cui sono stato, counter nazioni visitate. Cliccando su una nazione viene mostrato (se disponibile) una pagina web legata alla mia esperienza*@
</div>