@page
@model MySite.Pages.TravelTemplateModel
@{
    var country = (MySite.Models.Travel?)ViewData["Travel"];
    var places = (MySite.Models.SuggestedPlace[]?)ViewData["Places"];
}

<div style="background-image: src('data:image/png;base64,
    @Convert.ToBase64String(@country != null
        ? @country.BackgroundImage : new byte[1])')">
    <h1 style="text-align: center">@country?.Country</h1>
</div>
<div class="main-section">
    <br /><br />
    <p>
        @Html.Raw(@country?.Description)
    </p>
    <br /><br />
    <div class="carousel">
    </div>
    <br /><br />
    <h4>My top 5:</h4>
    <ul>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[0]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[1]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[2]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[3]?.Name</a></li>
        <li><a class="link-txt link" href=@places?[0]?.Url>@places?[4]?.Name</a></li>
    </ul>
</div>