@page
@model MySite.Pages.TravelPageModel
@{
    ViewData["Title"] = "Travel";
}

<script src="~/js/worldscript.js" asp-append-version="true"></script>
<body onresize="adjust_hitboxes()" onload="fetch_visited()">
    <div class="main-section" id="map-container">
        <p>
            Where am I? Where have I been?<br />
            This section is dedicated to my <strong>adventures</strong>
            around the globe.<br />
            On the map you can see which countries I visited and
            which not.<br />
            <strong>Click</strong> on a nation to learn more about my
            experience there.
            <noscript>
                <strong><br /><br />(This function needs js to work)</strong>
            </noscript>
        </p>
        <div id="world">
            <img src="Images/world.png" class="wrld" usemap="#countries"
                 id="worldmap" alt="blank world map" onload="load_countries()"/>
            <map name="countries" id="countries">
            </map>
        </div>
    </div>
</body>