html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h4 {
    color: #FF8000;
}

* {
    box-sizing: border-box;
}

.link-txt {
    color: black;
}

.link:hover {
    color: #FF8F00;
}

.navbar-custom {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
        color: #2F2F2F;
}

.base-text {
    color: #2F2F2F;
}

.base-text:hover{
    color: #FF8000;
}

.left {
    width: 100%;
    height: 800px;
    background-color: #FF8F00;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    color: #2F2F2F;
}

.right {
    width: 100%;
    height: 700px;
}

.main-container {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto;
}

.centered {
    justify-content: center;
    text-align: center;
}

.line {
    width: 200px;
    border-top: 3px solid #2F2F2F;
    margin: 15px;
}

.title {
    min-width: 100%;
    max-width: 300%;
    text-align: center;
}

.list-view {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    min-height: 100%;
    row-gap: 40px;
    margin-bottom: 200px;
}

.wrld {
    width: 100%;
    min-width: 15%;
}

.elmnt:hover {
    background-color: #EEEEEE;
}

.elmnt {
    display: grid;
    gap: 10px;
    padding: 5px;
    max-height: 10%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pic {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    max-width: 80%;
    margin: 0px 30px 0px 0px;
    vertical-align: middle;
}

.ttl {
    grid-row: 1;
    grid-column: 3 / span 3;
}

.othr {
    grid-row: 1;
    grid-column: 6;
}

.dtl {
    grid-row: 2;
    grid-column: 3 / span 4;
}

.main-pic {
    align-self: center;
    max-width: 80%;
    max-height: 80%;
}

.flat-link {
    text-decoration: none;
}

.flat-link:hover {
    color: black;
}

.pop-up {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
}

.popup-txt {
    color: white;
    text-align: center;
}

.loader {
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 12px solid white;
    border-bottom: 12px solid #FF8000;
    border-top: 12px solid #FF8000;
    width: 80px;
    height: 80px;
    animation: spin 3s linear infinite;
}

.hdr-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.hdr-image {
    height: 100%;
    width: 100%;
}

.hdr-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 350%;
    font-weight: 700;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(170deg);
    }

    50% {
        transform: rotate(180deg);
    }

    65% {
        transform: rotate(170deg);
    }

    85% {
        transform: rotate(10deg);
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .main-container {
        flex-direction: row;
        grid-template-columns: auto auto;
    }

    .left {
        width: 70%;
        height: 920px;
        flex-direction: row;
        grid-template-columns: auto auto auto;
    }

    .right {
        width: 30%;
        height: 920px;
    }

    .line {
        width: 0px;
        border-top: 0px;
        height: 13%;
        border-left: 3px solid #2F2F2F;
        margin-top: 0px;
        margin-left: 15px;
    }

    .title {
        text-align: end;
    }

    .main-section {
        padding: 40px 15% 40px 15%;
    }
}

@media (prefers-color-scheme: dark) {
    .right {
        background-color: #2F2F2F;
        color: white;
    }

    .main-container {
        background-color: #2F2F2F;
        color: white;
    }

    .link-txt {
        color: white;
    }

    .flat-link:hover {
        color: white;
    }

    .main-section {
        background-color: #2F2F2F;
        color: white;
    }

    body {
        background-color: #2F2F2F;
        color: white;
    }

    .navbar-custom {
        background-color: #2F2F2F;
        border-bottom: 1px solid #000;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: white;
    }

    .base-text {
        color: white;
    }

    .elmnt:hover {
        background-color: #1F1F1F;
    }
}