html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

* {
    box-sizing: border-box;
}

.link-txt {
    color: black;
}
.link:hover {
    color: #FF8F00;
}

.left {
    width: 100%;
    height: 800px;
    background-color: #FF8F00;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}

.right {
    width: 100%;
    height: 700px;
}

.main-container {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto;
    overflow: scroll;
}

.centered {
    justify-content: center;
    text-align: center;
}

.line {
    width: 200px;
    border-top: 3px solid #2F2F2F;
    margin: 15px;
}

.title {
    min-width: 100%;
    max-width: 300%;
    text-align: center;
}

.list-view {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    min-height: 100%;
    row-gap: 40px;
    overflow: scroll;
}

.wrld {
    width: 100%;
    min-width: 15%;
}

.elmnt:hover {
    background-color: #EEEEEE;
}

.elmnt {
    display: grid;
    gap: 10px;
    padding: 5px;
    max-height: 10%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pic { 
    grid-row: 1 / span 2; 
    grid-column: 1 / span 2;
    max-width: 80%;
    margin: 0px 30px 0px 0px;
    vertical-align: middle;
}
.ttl { 
    grid-row: 1;
    grid-column: 3 / span 3;
}
.othr {
    grid-row: 1;
    grid-column: 6;

}
.dtl { 
    grid-row: 2;
    grid-column: 3 / span 4; 
}

.main-pic {
    align-self: center;
    max-width: 80%;
    max-height: 80%;
}

.flat-link {
    text-decoration: none;
}
.flat-link:hover {
    color: black;
}

.pop-up {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
}
.popup-txt {
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .main-container {
        flex-direction: row;
        grid-template-columns: auto auto;
    }

    .left {
        width: 70%;
        height: 920px;
        flex-direction: row;
        grid-template-columns: auto auto auto;
    }

    .right {
        width: 30%;
        height: 920px;
    }

    .line {
        width: 0px;
        border-top: 0px;
        height: 13%;
        border-left: 3px solid #2F2F2F;
        margin-top: 0px;
        margin-left: 15px;
    }

    .title {
        text-align: end;
    }

    .main-section {
        padding: 40px 15% 40px 15%;
    }
}